<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlPhone.dao.PublicMapper">

	<select id="selectUser" resultType="java.lang.String">
		select username from aspcms_users where userid=2
	</select>
	
</mapper>